{
    "extends": "airbnb",
    "env": {
        "node": true,
        "browser": false,
        "mocha": true
    },
    "plugins": [
        "json",
        "mocha"
    ],
    "parser": "babel-eslint",
    "rules": {
        "new-cap":["error", {"properties": false}],
        "class-methods-use-this": "off",
        "indent": ["error", 2],
        "function-paren-newline": ["error", "consistent"],
        "operator-linebreak": ["error", "after"],
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "never",
            "exports": "never",
            "functions": "never"
        }]
    },
    "overrides": [
        {
            "files": ["*.test.js", "*.spec.js"],
            "rules": {
                "no-unused-expressions": "off"
            }
        }
    ]
}
